

/*Codigo para animar */

.animate{
    animation-duration: 1s;
    animation-fill-mode:both;
}

.animate--infinite{
    animation-iteration-count: infinite;
}

.animate--delay{
    animation-delay:1s;
}

.animate--fast{
    animation-duration: 0.6s;
}

.animate--slow{
    animation-duration: 3s;
}


/*Animaciones que voy a usar*/

.slideLeft{
    animation-name: slideLeft;
    animation-timing-function: ease-in;
    animation-duration: 2.1s;
    animation-delay: 0.2s;

}

.rotate {
    animation-name: rotate;
    animation-timing-function: linear;

}

.scaleUp {
    animation-name: scaleUp;
    animation-duration: 1s;
    animation-fill-mode: backwards;
}

@keyframes scaleUp{
    from{
        transform: scale(0);
    }

    to {
        transform: scale(3.0);
    }
}

@keyframes slideLeft {
    from{
       transform: translateX(-300px);
    }

    to{
       transform: translateX(0px);
    }


}

@keyframes rotate{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
        }
}

