/*Texto suelto*/

.texto-suelto{
    height:20%;
    width:50%;
}

.texto{
    display:inline;
    justify-content:center;
    gap:12em;
    word-spacing: 22px;
    align-items: center;
    margin:5%;
    color:#DAD2DB;
    font-size: 28px;
    font-weight: 700;
}